<%= render 'shared/error_msg', object: @task %>
<%= form_with model: @task, html: {class: 'w-52 m-auto'} do |f|%>
  <div class="flex flex-col">
    <%= f.label :category_id, class: 'text-2xl'%>
    <%= f.collection_select :category_id, @categories, :id, :name, {include_blank: 'Select Category'}, {class: 'rounded-md p-2 w-64 text-xl'}%>
  </div>
  <div class="flex flex-col">
    <%= f.label :name, class: 'text-2xl' %>
    <%= f.text_field :name, class: 'rounded-md p-2 w-64 text-xl' %>
  </div>
  <div class="flex flex-col">
    <%= f.label :details, class: 'text-2xl' %>
    <%= f.text_area :details, class: 'rounded-md p-2 w-64 text-xl resize-none' %>
  </div>
  <div class="flex flex-col">
    <%= f.label :deadline, class: 'text-2xl' %>
    <%= f.date_field :deadline, class: 'rounded-md p-2 w-64 text-xl' %>
  </div>
  <%= f.submit yield(:form_button_text), class: 'bg-slate-400 p-2 rounded-md cursor-pointer font-medium text-lg hover:bg-slate-500' %>
<% end %>
