<div class="max-w-7xl m-auto">
  <h2 class="font-bold text-3xl mb-1">Today</h2>
  <div class='bg-slate-100 p-3 max-h-64 rounded overflow-y-auto'>
    <% if @tasks[:today].count > 0 %>
      <ul class="flex flex-col gap-2">
        <% @tasks[:today].each do |task|%>
          <li class='flex justify-between items-center w-full bg-slate-300 rounded p-2 m-auto hover:bg-slate-400' >
            <%= form_with model: task do |f| %>
              <%= f.check_box :completed, onchange: "this.form.submit()"; %>
            <% end %>
            <%= link_to task, class: 'w-full' do %>
              <div class="text-center">
                <p class="text-lg font-semibold"><%= task.name %></p>
                <p class="text-lg font-medium"><%= task.category.name %> • <span data-deadline><i class="las la-calendar-alt mr-1"></i><%= rephrase_deadline(task.deadline) %></span></p>
              </div>
            <% end %>
            <%= link_to task, method: :delete, data: { confirm: "Are you sure you want to delete this task?" } do %>
              <i class="las la-trash-alt cursor-pointer"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center font-semibold text-xl">No Tasks today</p>
    <% end %>
  </div>
  <h2 class="font-bold text-3xl mt-2 mb-1">Todo</h2>
  <div class='bg-slate-100 p-3 max-h-64 rounded overflow-y-auto'>
    <% if @tasks[:not_completed].count > 0 %>
      <ul class="flex flex-col gap-2">
        <% @tasks[:not_completed].each do |task|%>
          <li class='flex justify-between items-center w-full bg-slate-300 rounded p-2 m-auto hover:bg-slate-400'>
            <%= form_with model: task do |f| %>
              <%= f.check_box :completed, onchange: "this.form.submit()"; %>
            <% end %>
            <%= link_to task, class: 'w-full' do %>
              <div class="text-center">
                <p class="text-lg font-semibold"><%= task.name %></p>
                <p class="text-lg font-medium"><%= task.category.name %> • <span data-deadline><i class="las la-calendar-alt mr-1"></i><%= rephrase_deadline(task.deadline) %></span></p>
              </div>
            <% end %>
            <%= link_to task, method: :delete, data: { confirm: "Are you sure you want to delete this task?" } do %>
              <i class="las la-trash-alt cursor-pointer"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center font-semibold text-xl">No Tasks available</p>
    <% end %>
  </div>
  <h2 class="font-bold text-3xl mt-2 mb-1">Completed</h2>
  <div class='bg-slate-100 p-3 max-h-64 rounded'>
    <% if @tasks[:completed].count > 0 %>
      <ul class="flex flex-col gap-2">
        <% @tasks[:completed].each do |task|%>
          <li class='flex justify-between items-center w-full bg-slate-300 rounded p-2 m-auto hover:bg-slate-400'>
            <%= form_with model: task do |f| %>
              <%= f.check_box :completed, onchange: "this.form.submit()"; %>
            <% end %>
            <%= link_to task, class: 'w-full' do %>
              <div class="text-center">
                <p class="text-lg font-semibold" data-task-name><%= task.name %></p>
                <p class="text-lg font-medium"><%= task.category.name %> • <span data-deadline><i class="las la-calendar-alt mr-1"></i><%= rephrase_deadline(task.deadline) %></span></p>
              </div>
            <% end %>
            <%= link_to task, method: :delete, data: { confirm: "Are you sure you want to delete this task?" } do %>
              <i class="las la-trash-alt cursor-pointer"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center font-semibold text-xl">No Completed Tasks</p>
    <% end %>
  </div>
</div>
