<%= render "shared/error_msg", object: resource %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post , class: 'bg-slate-100 max-w-lg m-auto p-6 rounded-md mt-4'}) do |f| %>
  <h1 class="font-bold text-4xl mb-4 text-center">Forgot your password?</h1>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'rounded-md w-full' %>
  </div>
  <div class="actions">
    <%= f.submit "Send Reset Password Instructions", class: 'bg-slate-400 p-2 rounded-md cursor-pointer font-medium text-lg hover:bg-slate-300 mt-4 w-full' %>
  </div>
<% end %>
