 <nav class="flex justify-between items-center h-16 px-5 md:px-16 w-full bg-slate-700 relative">
  <%= link_to root_path, class: "text-white text-xl sm:text-2xl font-bold sm:w-auto w-fit" do %>
    <div class="flex gap-3 items-center ">
      <div class="flex gap-2 items-center"><i class="las la-user-clock"></i>
        <p>Punctual</p>
        <% if user_signed_in? %>
          <p class="font-medium">| <%= current_user.email%></p>
        <%end%>
      </div>
    </div>
  <% end %>
  <span id="hamburger" class="sm:hidden text-white text-lg font-bold">&#9776;</span>
  <ul id="list" class="hidden gap-0 flex flex-col absolute top-0 rounded right-0 mt-16 px-4 py-2 text-right sm:mr-0 sm:text-left sm:mt-0 sm:flex-row sm:gap-4 sm:flex sm:static">
    <li><%= link_to "Home", root_path, class: "text-lg text-slate-200 hover:text-slate-400 font-medium" %></li>
    <% if user_signed_in? %>
      <li><%= link_to "Categories", categories_path, class: "text-lg text-slate-200 hover:text-slate-400 font-medium" %></li>
      <li><%= link_to "Settings", edit_user_registration_path, class: "text-lg text-slate-200 hover:text-slate-400 font-medium" %></li>
      <li><%= link_to "Log out", destroy_user_session_path, class: "text-lg text-slate-200 hover:text-slate-400 font-medium" %></li>
    <% else %>
      <li><%= link_to "Log in", new_user_session_path, class: "text-lg text-slate-200 hover:text-slate-400 font-medium" %></li>
      <li><%= link_to "Sign up", new_user_registration_path, class: "text-lg text-slate-200 hover:text-slate-400 font-medium" %></li>
    <% end %>
  </ul>
</nav>
