<% provide(:title, 'Edit Account Details')%>
<%= render "shared/error_msg", object: resource %>
<div class='bg-slate-100 max-w-lg m-auto p-6 rounded-md''>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <h2 class="font-bold text-3xl border-b-2 border-black">Change Account Details</h2>
    <div class="mt-4">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'rounded-md w-full' %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p class="text-orange-500 font-medium">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <div class="mt-2">
      <%= f.label :current_password do %>
        Current Password <i>(needed to confirm your changes)</i><br />
      <% end %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'rounded-md w-full' %>
    </div>
    <div class="mt-2">
      <%= f.label :password, "New Password" %> <i>(leave blank if you don't want to change password)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'rounded-md w-full' %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <div class="mt-2">
      <%= f.label :password_confirmation, "New Password Confirmation" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'rounded-md w-full' %>
    </div>
    <div class="actions">
      <%= f.submit "Update", class: 'bg-slate-400 p-2 rounded-md cursor-pointer font-medium text-lg hover:bg-slate-300 mt-4 w-full' %>
    </div>
  <% end %>
  <h2 class="font-bold text-3xl border-b-2 border-black mb-2 mt-6">Delete Account</h2>
  <div class='text-center'>
    <p class='mb-4 text-lg font-semibold text-red-600'>All of your details, categories, and tasks will be deleted if you continue to delete your account.</p>
    <%= link_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, class:'bg-red-400 p-3 text-xl rounded-md font-medium' %>
  </div>
</div>
