<%= render "shared/error_msg", object: resource %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'bg-slate-100 max-w-lg m-auto p-6 rounded-md mt-4'}) do |f| %>
  <h1 class="font-bold text-4xl mb-4 text-center">Sign up</h2>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'rounded-md w-full' %>
  </div>
  <div class="mt-2">
    <%= f.label :password do %>
      Password
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'rounded-md w-full' %>
  </div>
  <div class="mt-2">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'rounded-md w-full' %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", class: 'bg-slate-400 p-2 rounded-md cursor-pointer font-medium text-lg hover:bg-slate-300 mt-4 w-full' %>
  </div>
  <p class="mt-2 text-center">Already have an account? <span class="text-sky-600 hover:underline font-medium"><%= render "users/shared/links" %></span></p>
<% end %>
